@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";
@import "./constants.scss";

// Extension

#extension-root__fb {
  position: fixed;
  bottom: 4%;
  left: 4%;
  z-index: 1000000;
  .dot {
    transform: scale(1.6);
    transition: all 0.6s;
    cursor: pointer;
    &:hover {
      transform: scale(2.4);
    }
  }
}

// .extension * {
//   all: initial;
// }

.fireboard-container__fb.extension__fb {
  height: 650px;
  width: 400px;
}

// Application

.fireboard-container__fb.application__fb {
  padding: 6px 0;
  height: 100%;
  width: 100%;
  max-width: 450px;
}

// Common

.fireboard-container__fb * {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}

.fireboard-container__fb {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
  .blocker-screen {
    z-index: 5;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#4f4f4f 0.5px, transparent 0.5px),
      radial-gradient(#4f4f4f 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    font-size: 12px;
    color: $strokeTwo;
  }
  .card.app-title__fb,
  .card.app-content__fb,
  .card.app-footer__fb {
    border: 1px solid $bg;
    box-shadow: none;
  }

  .card.app-title__fb,
  .card.app-footer__fb {
    padding: 8px $APP_GAP;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
  }

  .card.app-title__fb {
    .app-name__fb {
      display: flex;
      flex-direction: row;
      transition: 0.2s all;
      background: $orchid;
      padding: 4px 8px;
      gap: 2px;
      .character__fb {
        transition: 0.2s all;
        font-size: 9px;
        color: $white;
        transform: rotateY(180deg);
        transition: 0.2s all;
      }
      &:hover {
        background: $nbPink;
        .character__fb {
          transform: rotateY(0);
        }
      }
    }
  }

  .card.app-content__fb {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: $APP_GAP - 8px 0px;
    overflow: hidden;
    .header__fb {
      padding: 0 $APP_GAP;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $bar;
      flex: 0 0 30px;
      nav {
        all: initial;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
        .nav-item__fb {
          color: $iron;
          margin-right: 8px;
          cursor: pointer;
          font-family: "Roboto Mono", monospace;
          font-weight: bold;
          text-decoration: none;
          &:hover {
            color: $bar;
          }
          &.active-page__fb {
            color: $bar;
            text-decoration: underline;
          }
        }
      }
    }

    section {
      flex: 1 1 auto;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }

    .dot-loader {
      height: 16px;
      width: 16px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .card.app-footer__fb {
    height: 38px;
    align-items: center;
    .status-bar {
      background: none;
      height: 20px;
      .item .value {
        font-size: 10px;
      }
    }
    .project-name__fb {
      margin: 0;
      font-size: 10px;
      font-family: "Roboto Mono", monospace;
      font-weight: 700;
      z-index: 10;
    }
  }
}

.empty-message__fb {
  text-align: center;
  font-size: 1.4em;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  padding: 12px;
  color: $strokeTwo;
}

// content wrapper for todo & timeline
.content-wrapper__fb {
  flex: 1;
  display: flex;
  overflow: hidden;
  .content-index__fb {
    min-width: 20px;
    display: inline-block;
    font-size: 12x;
    position: relative;
    top: 2px;
  }
  .content-data__fb {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }
  .content__fb {
    line-height: 16px;
    color: $bar;
    // code {
    //   background: $yellow;
    //   padding: 2px;
    //   border-radius: 2px;
    // }
  }
}

html {
  body h3 {
    margin-bottom: 8px;
  }
  .timeline {
    width: 94%;
    margin: 0 2% 8px 4%;
  }

  .badge__fb {
    .mantine-badge-root {
      padding: 0 2px;
    }
    .mantine-badge-inner {
      text-transform: capitalize;
      font-size: 9px;
    }
  }

  .mantine-checkbox-root {
    min-height: 16px;
  }
  .mantine-checkbox-input {
    border-radius: 2px;
  }

  .mantine-checkbox-label,
  .mantine-switch-label {
    cursor: pointer;
  }

  .mantine-menu-body {
    width: 100px;
  }

  .mantine-select-root {
    width: 140px;
  }

  .mantine-tooltip-root {
    height: 12px;
  }
  .mantine-tooltip-body {
    font-size: 9px;
  }

  .mantine-date-picker-dropdown {
    padding: 10px;
    .mantine-date-picker-weekday {
      font-size: 11px;
    }
    .mantine-date-picker-cell {
      height: auto;
      .mantine-date-picker-day {
        line-height: normal;
        height: 28px;
        font-size: 11px;
      }
    }
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

.confirmation-box__fb {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  background: $bg;
  padding-left: 8px;
  width: max-content;
  .title__fb {
    font-size: 10px;
  }
  .actions__fb {
    display: flex;
    align-items: center;
    // gap: 4px;
    button .mantine-button-label {
      font-weight: normal;
      font-size: 10px;
    }
  }
}
