@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";
@import "./constants.scss";

// Extension
// #extension-root {
//   position: fixed;
//   bottom: 4%;
//   left: 4%;
//   z-index: 1000000;
//   .dot {
//     transform: scale(1.6);
//     transition: all 0.6s;
//     cursor: pointer;
//     &:hover {
//       transform: scale(2.4);
//     }
//   }
// }

html {
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  * {
    font-size: 11px;
  }
}

.fireboard-container.extension {
  width: 400px;
  height: 100%;
  .card.app-content {
    border: none;
  }
}

.fireboard-container.application {
  padding: 6px 0;
  height: 100%;
  width: 100%;
  max-width: 450px;
}

.fireboard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .card.app-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-grow: 1;
    border: 1px solid $bg;
    box-shadow: none;
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px $APP_GAP;
      height: 38px;
      .app-name {
        display: flex;
        flex-direction: row;
        transition: 0.2s all;
        padding: 4px 8px;
        gap: 2px;
        background: #3a3a3a;
        border-radius: 2px;
        color: #f56545;
        text-shadow: 1px 1px #99201c;
        font-size: 1rem;
      }
      nav {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
        gap: 6px;
        .nav-item {
          color: $iron;
          cursor: pointer;
          font-family: "Roboto Mono", monospace;
          font-weight: bold;
          text-decoration: none;
          &:hover {
            color: $bar;
          }
          &.active-page {
            color: $bar;
            text-decoration: underline;
          }
        }
      }
      .extra-controls {
        flex: 0 0 84px;
        display: flex;
        justify-content: flex-end;
      }
    }
    .sec {
      padding: 8px 0;
      flex: 1 1 auto;
      overflow: auto;
      position: relative;
      section {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
      }
    }
    footer {
      height: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $APP_GAP;
      .status-bar {
        background: none;
        height: 20px;
        .item .value {
          font-size: 1rem;
        }
      }
      .project-name {
        font-size: 1.1rem;
        font-weight: 700;
        z-index: 10;
      }
    }
    & > .mantine-Divider-horizontal {
      // direct dividers
      border-top-color: $bg;
    }
  }
}

.empty-message {
  text-align: center;
  font-size: 1.4em;
  padding: 12px;
  color: $strokeTwo;
}

// content wrapper for todo & timeline
.content-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
  .content-index {
    min-width: 20px;
    display: inline-block;
  }
  .content-data {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }
  .content {
    line-height: 16px;
    color: $bar;
    // code {
    //   background: $yellow;
    //   padding: 2px;
    //   border-radius: 2px;
    // }
  }
}

html {
  .fireboard-container {
    .blocker-screen {
      z-index: 5;
      background-color: #ffffff;
      opacity: 1;
      color: $strokeTwo;
    }
  }
  body h3 {
    margin-bottom: 8px;
  }
  .timeline-card {
    width: 100%;
    background: $feather;
    border: 1px solid $strokeOne;
    max-width: 100%;
    padding: 0 8px;
  }

  .badge {
    .mantine-Badge-root {
      padding: 0 2px;
    }
    .mantine-Badge-inner {
      text-transform: capitalize;
      font-size: 0.9rem;
    }
  }

  .mantine-Switch-input {
    cursor: pointer;
  }
  .mantine-Switch-label {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 8px;
  }

  // .mantine-menu-body {
  //   width: 100px;
  // }

  // .mantine-select-root {
  //   width: 140px;
  // }

  .mantine-Tooltip-root {
    height: 12px;
  }
  .mantine-Tooltip-body {
    font-size: 0.9rem;
  }

  .mantine-DatePicker-dropdown {
    padding: 10px;
    .mantine-DatePicker-weekday {
      font-size: 1rem;
    }
    .mantine-DatePicker-cell {
      height: auto;
      .mantine-DatePicker-day {
        line-height: normal;
        height: 28px;
        font-size: 1rem;
      }
    }
  }
  .mantine-Menu-itemLabel {
    font-size: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

.modal-root {
  height: 100%;
  width: 100%;
  position: absolute;
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border: 1px solid $black;
    width: 80%;
    min-height: 100px;
    display: flex;
    z-index: 1000;
    flex-direction: column;
    .modal-title {
      font-weight: bold;
      font-size: 1.4rem;
    }
    .modal-content {
      flex: 1 1 auto;
      margin: 8px 0 16px;
      color: $steel;
    }
    .modal-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.layout {
  padding: $APP_GAP;
}
