@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";

.dot {
  background: $orchid;
  transform: scale(1.4);
  transition: all 1s;
  cursor: pointer;
  &:hover {
    transform: scale(2);
  }
}

.dot-container {
  position: relative;
  display: inline-block;
  font-family: monospace;
  font-size: 10px;

  .close-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
  }

  .card {
    font-size: inherit;
    display: flex;
    border-radius: 0;
    height: 350px;
    width: 450px;
    background: $white;
    padding: 0;
  }

  .btn,
  .confirm-box-title,
  .confirm-box-actions .btn,
  .radio .radio-item,
  .select-text,
  .dropdown .dropdown-item,
  .inputbox {
    font-size: 10px !important;
  }

  .empty-message {
    text-align: center;
    opacity: 0.4;
    font-size: 2.4em;
    font-family: Roboto-Bold, monospace;
    text-transform: uppercase;
    margin-top: 12px;
  }
}
