@import "@codedrops/react-ui/dist/styles/colors.scss";

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;

  .options {
    margin: 4px 0px;
    display: flex;
    .radio {
      margin-right: 4px;
    }
  }
  .controls {
    display: flex;
    height: 30px;
    align-items: stretch;
    justify-content: center;

    .inputbox {
      flex: 1 1 auto;
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid $chrome;
      resize: none;
      margin-right: 4px;
      font-family: "Fira Mono", Cascadia-Regular, monospace;
      font-weight: 500;
      &:focus {
        border: 1px solid $orchid;
      }
      outline: none;
    }
  }
}
