@import "@codedrops/react-ui/dist/styles/defaults.scss";

.react-ui {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: url("../../assets/backgrounds/pattern-randomized.svg");
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#3b3b3b 0.75px, #ffffff 0.75px);
  background-size: 15px 15px;
}
