@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "../../constants.scss";

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 $APP_GAP;
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    border: 1px dashed $strokeTwo;
    background: $featherDark;
    padding: 8px;
    position: relative;
    .mantine-select-dropdown {
      top: unset;
      bottom: calc(34px);
    }
    .mantine-date-picker-dropdown {
      bottom: 34px;
      right: 0;
      top: unset;
      left: unset;
      &::before {
        display: none;
      }
    }
  }
  .controls {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
  .close-icon {
    position: absolute;
    top: -6px;
    right: -6px;
  }
}
