@import "@codedrops/react-ui/dist/styles/colors.scss";

.dot-container {
  .list-container {
    flex: 1 1 auto;
    overflow-y: auto;
    width: 100%;
    margin: 4px 0;
  }

  .topic-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;
    background: $bg;
    .topic-header {
      padding: 8px;
      background: $strokeOne;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      span {
        font-size: 1em;
        color: $bar;
        text-transform: uppercase;
      }
    }
    .topic-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .item {
        word-break: break-all;
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        border-bottom: 1px solid $strokeOne;
        position: relative;
        transition: all 0.2s;

        &:hover {
          border: 1px solid $chrome;
        }
        &.highlight {
          border: 1px solid $orchid;
        }
        &.marked {
          cursor: not-allowed;
          text-decoration: line-through;
        }
      }
    }
    .content {
      flex: 1;
      padding: 8px;
    }
  }

  .actions {
    margin: 0 4px 0 8px;
    display: flex;
    align-items: center;
  }

  .action-buttons {
    transition: all 0.6s;
    align-items: center;
    opacity: 0;
    visibility: none;
    display: flex;
  }

  .item:hover .action-buttons {
    opacity: 1;
    visibility: visible;
  }
}
