@import "@ml318097/react-ui/dist/styles/colors.scss";

.home-icon {
  margin-right: 6px;
}

.addContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  .options {
    padding: 4px 0px;
    display: flex;
    .radio {
      margin-right: 4px;
      .radio-item {
        font-size: 0.8rem;
      }
    }
    .select {
      .select-text,
      .dropdown .dropdown-item {
        font-size: 0.8rem;
      }
    }
  }
  .controls {
    display: flex;
    height: 30px;
    align-items: stretch;
    justify-content: center;

    .inputbox {
      flex: 1 1 auto;
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid $chrome;
      resize: none;
      margin-right: 4px;
      font-family: Roboto-Light, monospace;
      font-size: 1rem;
      &:focus {
        border: 1px solid $orchid;
      }
      outline: none;
    }
  }
}

.actionButtons {
  transition: all 0.6s;
  align-items: center;
  opacity: 0;
  visibility: none;
  display: flex;
}

.item:hover .actionButtons {
  opacity: 1;
  visibility: visible;
}
