@import "@codedrops/react-ui/dist/styles/colors.scss";

.dot-container {
  .list-container {
    flex: 1 1 auto;
    overflow-y: auto;
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    padding: 0 6px;
  }

  .topic-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;
    background: $bg;
    .topic-header {
      padding: 8px;
      background: $strokeOne;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      font-family: "Fira Mono", Cascadia-SemiBold, monospace;
      font-weight: 500;
      span {
        color: $bar;
        text-transform: uppercase;
      }
    }
    .topic-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .item {
        padding: 8px;
        display: flex;
        align-items: flex-start;
        border: 1px solid transparent;
        border-bottom: 1px solid $strokeOne;
        position: relative;
        transition: all 0.2s;
        &:hover {
          border: 1px solid $chrome;
        }
        &.highlight {
          border: 1px solid $orchid;
        }
        &.marked {
          cursor: not-allowed;
          .content {
            text-decoration: line-through;
            color: $chrome;
          }
          .item-meta span {
            color: $grey;
          }
        }
        .item-meta {
          margin-top: 4px;
          span {
            font-size: 10px;
            color: $steel;
          }
        }
      }
    }
  }

  .single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 280px;
    max-height: 16px;
  }

  .actions {
    margin-left: 8px;
    display: flex;
    align-items: center;
    .icon {
      margin-left: 6px;
    }
  }
}
