@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";

.dot-container * {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}

.dot-container {
  position: relative;
  .blocker-screen {
    z-index: 1;
  }
  .dot-loader {
    position: absolute;
    bottom: -8px;
    left: -8px;
    z-index: 10;
  }

  .card.app-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 8px 0px;
    overflow: visible;

    .project-name {
      position: absolute;
      right: -8px;
      bottom: -16px;
      font-size: 10px;
      font-family: "Roboto Mono", monospace;
      font-weight: 700;
      z-index: 10;
    }
    .header {
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $bar;
      flex: 0 0 30px;
      nav {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
        .nav-item {
          color: $iron;
          margin-right: 8px;
          cursor: pointer;
          font-family: "Roboto Mono", monospace;
          font-weight: bold;
          &:hover {
            color: $bar;
          }
          &.active-page {
            color: $bar;
            text-decoration: underline;
          }
        }
      }
    }

    section {
      flex: 1 1 auto;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }

    .status-bar {
      position: absolute;
      top: calc(100% + 6px);
      width: 100%;
      left: 0;
      background: none;
      height: 22px;
      .item .value {
        font-size: 10px;
      }
    }
  }
}

.empty-message {
  text-align: center;
  font-size: 1.2em;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  padding: 12px;
  color: $strokeTwo;
}

// content wrapper for todo & timeline
.content-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
  .content-index {
    min-width: 20px;
    display: inline-block;
    font-size: 12x;
    position: relative;
    top: 2px;
  }
  .content-data {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }
  .content {
    line-height: 16px;
    color: $bar;
    // code {
    //   background: $yellow;
    //   padding: 2px;
    //   border-radius: 2px;
    // }
  }
}

html {
  body h3 {
    margin-bottom: 8px;
  }
  .timeline {
    width: 94%;
    margin: 0 2% 8px 4%;
  }

  .mantine-checkbox-input {
    border-radius: 2px;
  }
  .mantine-checkbox-label,
  .mantine-switch-label {
    cursor: pointer;
  }
  .mantine-menu-body {
    width: 100px;
  }
}
