@import "@codedrops/react-ui/dist/styles/defaults.scss";

.react-ui {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-container.application {
  height: 90%;
  max-width: 450px;
  .card.app-content {
    height: 100%;
    box-shadow: none;
  }
}
