@import "@codedrops/react-ui/dist/styles/defaults.scss";

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaMono-Regular.otf");
  font-family: Cascadia-Regular;
}

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaMono-Bold.otf");
  font-family: Cascadia-Bold;
}

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaMono-SemiBold.otf");
  font-family: Cascadia-SemiBold;
}

.react-ui {
  height: 100%;
}
