#extension-root {
  position: fixed;
  bottom: 4%;
  left: 3%;
  z-index: 1000000;
  .dot {
    transform: scale(1.4);
    transition: all 1s;
    cursor: pointer;
    &:hover {
      transform: scale(2);
    }
  }
}

.dot-container.extension {
  display: inline-block;
  .close-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 10;
  }
  .card.app-content {
    height: 450px;
    width: 380px;
    border-color: $steel;
    border-width: 2px;
    box-shadow: 3px 3px $steel;
  }
}
