@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaMono-Regular.otf");
  font-family: Cascadia-Regular;
}

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaMono-Bold.otf");
  font-family: Cascadia-Bold;
}

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaMono-SemiBold.otf");
  font-family: Cascadia-SemiBold;
}

#my-extension-root {
  position: fixed;
  bottom: 4%;
  left: 3%;
  z-index: 1000000;
}
