@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "../../constants.scss";

section#about {
  display: flex;
  flex-direction: column;
  padding: 0 $APP_GAP;
  .block__fb {
    border-bottom: 1px solid $strokeOne;
    padding-bottom: 16px;
    margin-bottom: 8px;
    .header-row__fb {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      margin-bottom: 8px;
      h3 {
        margin: 0;
      }
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  .wrapper__fb {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    span {
      color: $bar;
      font-weight: bold;
    }
  }
  .products-list__fb {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    .mantine-text-root {
      border: 1px solid $strokeOne;
      padding: 8px;
      .product-title__fb {
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 8px;
      }
      &:hover {
        background: $feather;
      }
    }
  }
}
