@import "@codedrops/react-ui/dist/styles/colors.scss";

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 8px;
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: 1px dashed $strokeTwo;
    background: $featherDark;
    padding: 8px;
    min-height: 72px;
    .mantine-select-dropdown {
      top: unset;
      bottom: calc(34px);
    }
    .mantine-date-picker-dropdown {
      bottom: 34px;
      right: 0;
      top: unset;
      left: unset;
      &::before {
        display: none;
      }
    }
  }
  .controls {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
}
