@import "@codedrops/react-ui/dist/styles/colors.scss";

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 8px;
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: 1px dashed $strokeTwo;
    // background: $featherDark;
    padding: 8px;
    .mantine-select-dropdown {
      top: unset;
      bottom: calc(34px);
    }
  }
  .controls {
    margin-top: 8px;
    display: flex;
    // height: 30px;
    // align-items: stretch;
    justify-content: center;
    gap: 4px;
    // .ui-textarea {
    //   flex: 1 1 auto;
    //   padding: 4px 8px;
    //   resize: none;
    //   margin-right: 4px;
    //   font-family: "Fira Mono", Cascadia-Regular, monospace;
    //   font-weight: 500;
    // }
  }
}
