@import "@codedrops/react-ui/dist/styles/colors.scss";

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 6px;
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    border: 1px dashed $strokeTwo;
    // background: $featherDark;
    padding: 8px;
  }
  .controls {
    margin-top: 4px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
