@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "../../constants.scss";

section#settings {
  display: flex;
  flex-direction: column;
  padding: 0 $APP_GAP;
  .block {
    border-bottom: 1px solid $strokeOne;
    padding-bottom: 16px;
    margin-bottom: 8px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    span {
      color: $bar;
      font-weight: bold;
    }
  }
  .new-project {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .copy-code {
    color: $white;
    border-radius: 2px;
    text-align: center;
    padding: 10px 4px;
    cursor: pointer;
    transition: 0.4;
    &:hover {
      opacity: 0.9;
    }
  }
  .topic-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .topic-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .actions {
        flex-shrink: 0;
      }
    }
  }
}
