@import "@codedrops/react-ui/dist/styles/colors.scss";

.dot-container {
  .list-container {
    flex: 1 1 auto;
    overflow-y: auto;
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    padding: 0 8px;
    .ant-collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center; // align topic name and settings icon
      span.topic-name {
        flex: 1 1 auto;
      }
    }
    .ant-collapse-content-box {
      padding: 8px;
    }
  }

  // .topic-header {
  //   padding: 8px;
  //   background: rgba($primary, 0.2);
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: space-between;
  //   cursor: pointer;
  //   font-family: "Lato", monospace;
  //   font-weight: 500;
  //   span {
  //     color: $white;
  //   }
  // }
  .topic-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    // .empty-message {
    //   background: rgba($primary, 0.1);
    //   margin: 0;
    //   padding: 12px;
    //   opacity: 1;
    //   color: $steel;
    // }
    .item {
      // background: rgba($primary, 0.1);
      // padding: 8px;
      // display: flex;
      // align-items: flex-start;
      // border: 1px solid transparent;
      // position: relative;
      // transition: all 0.2s;
      // margin-top: 2px;

      &:hover {
        border-color: rgba($primary, 0.4);
        // background: rgba($primary, 0.15);
      }
      &.highlight {
        border-color: rgba($green, 0.5);
      }
      &.marked {
        border-left: 4px solid $green;
        background: $feather;
        cursor: not-allowed;
        .content {
          text-decoration: line-through;
          color: $chrome;
        }
        .item-meta span {
          color: $chrome;
        }
      }
      &.expired {
        border-left: 4px solid $watermelon;
      }
      &.in-progress {
        border-left: 4px solid $orange;
      }

      .content {
        // &.single-line {
        //   white-space: nowrap;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        //   max-height: 16px;
        //   margin-right: 4px;
        // }
      }

      .item-meta {
        span {
          font-style: italic;
          font-size: 10px;
        }
      }
      .ant-card-head-title {
        font-size: 10px; // card title
      }
    }
  }
}
