@import "@codedrops/react-ui/dist/styles/colors.scss";

.dot-container {
  .list-container {
    flex: 1 1 auto;
    overflow-y: auto;
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    padding: 0 8px;
  }

  .topic-container {
    margin-bottom: 8px;
    background: $bg;
  }
  .topic-header {
    padding: 8px 12px 0;
    // background: rgba($primary, 0.2);
    display: flex;
    flex-direction: column;
    font-family: "Lato", monospace;
    font-weight: 500;
    border-radius: 2px;
    margin-bottom: 2px;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .group {
        display: flex;
        align-items: center;
        gap: 2px;
      }
    }
    .meta {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      margin: 4px 0;
      gap: 4px;
      .badge .mantine-badge-inner {
        text-transform: capitalize;
        font-size: 9px;
      }
    }
  }
  .topic-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 0 12px 12px;
    .item {
      // background: rgba($primary, 0.1);
      border: 1px solid transparent;
      transition: all 0.2s;
      overflow: visible;
      padding: 6px;
      &:hover {
        border-color: $strokeOne;
      }
      &.highlight {
        border-color: rgba($green, 0.5);
      }
      &.marked {
        border-left: 4px solid $green;
        background: $feather;
        cursor: not-allowed;
        .content {
          text-decoration: line-through;
          color: $chrome;
        }
      }
      &.expired {
        border-left: 4px solid $watermelon;
      }
      &.in-progress {
        border-left: 4px solid $orange;
      }

      .content {
        // &.single-line {
        //   white-space: nowrap;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        //   max-height: 16px;
        //   margin-right: 4px;
        // }
      }
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .meta-info {
          span {
            font-size: 10px;
            color: $chrome;
          }
        }
        .actions {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}
